#footer{
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #985E22;
    flex-direction: column;
    padding: 1rem 0;
}
#footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}
#footer-icons{
display: inline-flex;
align-items: center;
justify-content: center;
gap:36px;
width: 25%;

}
#footer-icons a{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size:
    clamp(1.4rem, 2vw + 1.7rem, 2rem) !important;
}
#footer-links{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
#footer-direitos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    border-top: #fff 1px solid;
    gap: 5px;
}